/* 
  TODO: Seperate CSS into different files for development 
  and then use build process to consolidated
  and minify.
*/

body {
  background-color: #EEE;
  color: #555;
  font-family: "ff-clan-web-pro-wide", sans-serif;
}

.round {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.center {
  text-align: center;
}

h1 {
  font-size: 50px;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 1px #FFF;
}

h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
  text-shadow: 1px 1px 1px #FFF;
}

.message {
  text-align: center;  
  text-shadow: 1px 1px 1px #FFF;
  text-transform: uppercase;
}

.page-container {
  margin: 10px 10px 10px 10px;
}

.header {
  text-align: center;
}

.title {
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px #FFF;
}

.sub-title {
  text-shadow: 1px 1px 1px #FFF;
  font-weight: normal;
}

/*
  Loading
*/

.loading-message {
  margin-top: 20px;
  padding: 10px;
}


/*
  Home View
*/

.home-view {
  margin-top: 20px;
}

/*
  Location
*/

.location-view {
  padding: 10px;
}

.location-icon {
  color: green;
}

/*
  Uber View
*/

.uber-container {
  background-color: #000;
  color: #FFF;
  padding: 10px;
  margin-bottom: 10px;   
  border: 1px solid #CCC;
}

.uber-message {
  font-size: 18px;
  line-height: 34px;
}

.uber-button {
  float: right;
}

/*
  Search
*/

.search-results{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

/*
  Search Result
*/

.search-result-container {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #CCC; 
  background-color: #FFF;
}

.route-name {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.stops {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

/*
  Stop
*/

.stop-view {
  padding: 10px;
  border-bottom: 1px solid #CCC;
}

.stop-view:last-child {
  border-bottom: 0;
}

.stop-distance {
  font-size: 12px;
  color: #888;
}

.stop-predictions-container {
  min-height: 16px;
}

.stop-predictions {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: inline;
  float: left;
}

.stop-prediction {
  display: inline;
  font-size: 16px;
  font-weight: bold;
}

.stop-predictions-label {
  margin-right: 5px;
  font-size: 16px;
  float: left;
}

.stop-predictions-text {
  font-size: 16px;
  margin-left: 5px;
}

.stop-prediction:after { 
  content: ","; 
}

.stop-prediction:last-child:after { 
  content: ""; 
}

@media only screen and (min-width: 35em) {

  h1 {
    font-size: 80px;
  }

  .page-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

/*
  Clearfix hack
*/

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */