<% if (error) { %>
  <div class="message">
    <p>Bummer.</p>
    <p>We could not find your location and need access to give you nearby bus information.</p>
    <p>Check your settings and make sure we have permission?</p>
    <a href="https://support.google.com/chrome/answer/142065?hl=en">Chrome Help</a>
  </div>
<% } else if (!location) { %>
  <div class="message">Requesting your location...</div>
<% } else { %>
  <div class="message">
    <span class="location-icon glyphicon glyphicon-map-marker"></span>
    <span>Found your location</span>
  </div>
<% } %>
