<div><%- direction %></div>
<div>
  <span>Stop: <%- name %></span>
  <span class="stop-distance">(<%- parseFloat(dist.calculated).toFixed(1) %> miles)</span>
</div>
<div class="stop-predictions-container clearfix">
  <% if (predictions ===  null) { %>
    <div class="fetching-predictions-message">Loading predictions...</div>
  <% } else { %>
    <span class="stop-predictions-label">
      Arrives in:
    </span>
    <% if (predictions.length) { %>
      <ul class="stop-predictions">
        <% _.each(predictions, function (prediction) { %>
          <li class="stop-prediction"><%- prediction %></li>
        <% }) %>
      </ul>
      <span class="stop-predictions-text">minutes</span>
    <% } else { %>
      <div class="no-predictions-message">No current predictions</div>
    <% } %>
  <% } %>
</div>


